.main_box_class {
    background-color: white;
}
.stage_2{
    position: absolute;
    left: 700px;
    background: gray;
    top: 200px;
    height: 400px;
    width: 300px;
}
.name_user{
    position: absolute;
    color: black;
    left: 300px;
}
.button_send{
    position: absolute;
    height: 60px;
    left: 927px;
    width: 101px;
    border-radius: 33px;
}

.stage_1{
    position: absolute;
    background: gray;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 400px;
}